.content-image {
  width: 40%;
}

.content-container,
.main-content-text,
.home-sub-text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.home-sub-text {
  padding: 20px;
}
