.header {
  font-size: 20px;
  margin-bottom: 50px;
}

.left {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.mid {
  display: inline-block;
  width: 45%;
  text-align: center;
}

.right {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.top-navbar a {
  text-decoration: none;
  color: #222341;
}

.top-navbar a:hover {
  color: #c6304b;
}

.top-navbar li {
  list-style: none;
  display: inline-block;
  padding: 15px 17px;
}

.app-logo {
  width: 75%;
  vertical-align: middle;
}

.top-navbar a:active {
  color: #c6304b;
}
